.App {
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* .createBorder{
  margin-left: 3cm;
  margin-top: 1cm;
} */



/* .form-control{
  border-color: green;
  text-align: left;
} */





/* .student-details{
  margin-left:  0.7cm;
  padding-bottom: 10px;
  color: rgb(165, 10, 87);
  font-size: 18px;

} */

/* .std-details{
  margin-left:  0.7cm;
  padding-bottom: 5px;
  color: rgb(5, 50, 102);
  font-size: 17px;
}

.std-label{
  padding-right: 5cm;
} */


/* .form-floating{
  margin-bottom: 7px;
  margin-right: 7cm;

} */



/* .sem-marks-container{
  margin-left: 30px;
  margin-top: 10px;
} */